doctype html
html(lang=lang)
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    //- include landing-stylesheets.pug
    title My project title
  body
    main
      block content
    
    //- include landing-scripts.pug