node_modules
mongod.bat
.env
.env.prod
reports
!reports/*.gitkeep
*.log
*.directory
*.crt
*.csr
*.key
*.DS_Store
coverage
screencaptures
tmp/**/*
public/**/*
!public/js/*.gitkeep
!public/css/*.gitkeep
!public/media/favicon.ico
client/assets
client/js
client/styles
client/views
client/coverage
fixtures
public/css
public/js
public/media
reports
server/controllers
server/middlewares
server/models
test
