node_modules
mongod.bat
.env
.env.prod
.nexilia-cache/**/*
!.nexilia-cache/*.gitkeep
!.nexilia-cache/_wegirls/*.gitkeep
reports
!reports/*.gitkeep
client/constants/dictionary.js
*.log
*.directory
*.crt
*.csr
*.key
coverage
**/node_modules
*.DS_Store
screencaptures
tmp/**/*
public/**/*
!public/_devpartner/**/*
!public/js/*.gitkeep
!public/css/*.gitkeep
!public/media/favicon.ico
