/* ------------------- */
/* ----- GENERAL ----- */
/* ------------------- */
body
article
aside
  background-color #F0F8FF

article
  width 100%

article
aside
  padding 16px
  min-width 400px
  h1
    color rgba(32, 34, 35, 1)
  h2
    margin 0
    font-size 1rem
  section
    background-color white
    border 1px solid #ccc
    padding 16px
    border-radius 4px
    margin-bottom 16px
  header
    display flex
    margin-bottom 16px
    h1
      flex 1
      margin 0
  &.detail-container
    display flex
    padding-right 24px
    max-width 600px
    
label
  margin-bottom 8px
  
hr
  border none
  border-top 2px solid #ccc

.right-side
  display flex
  background-color #efefef
  width 75%
  margin 0 auto
  
.d-none
  display none

/* ------------------- */
/* ------ TABLE ------ */
/* ------------------- */
table
  width 100%
  border-collapse collapse
  &.default-only
    tbody tr:not(.default)
      display none
  &:not(.default-only)
    tr.default
      display none
  a > img
    display block
  td
    &.width-content
      width fit-content
    &.width-20
      width 20%
    &.width-30
      width 30%
    &.width-40
      width 40%
  
/* ------------------- */
/* ------ Button ----- */
/* ------------------- */
button
a[href]
  &.btn
    cursor pointer
    padding 8px 16px
    text-decoration none
    border-radius 4px
    font-size 14px
    display block
    border 0
    &.btn-primary
      color white
      background-color #008060
      padding 8px 32px
      &:hover
        background-color #006e52
    &.btn-icon
      line-height 0
      svg
        width 16px
        height 16px
    &.btn-danger
      color #dc3545
      border 1px solid currentColor
      background-color #dc354533
    &.btn-full-w
      width 100%
    &.btn-primary-transparent
      color #008060
      border 1px solid #008060
      background-color transparent
      &:hover
        background-color #00806033
  
  &[disabled="disabled"]
    cursor default
    opacity .5
    

/* ------------------- */
/* ------ LINK ------ */
/* ------------------- */
.btn-link
  color #3483fa
  padding 0
  border 0
  background-color transparent
  cursor pointer
  &:hover
    color #1259c3
  &.active
    color #000
    pointer-events none
    cursor default
    
/* ------------------- */
/* ------ helpers ------ */
/* ------------------- */
.text-right
  text-align right

.d-block
  display block!important
  
.arrow-onboarding
  transform rotate(270deg)
  width 200px
  position absolute
  right 64px
  top 128px
  // https://codepen.io/sosuke/pen/Pjoqqp
  filter invert(9%) sepia(69%) saturate(7152%) hue-rotate(285deg) brightness(83%) contrast(94%)