node_modules
mongod.bat
.cache/**/*
!.cache/**/.gitkeep
!.cache/*.gitkeep
reports/**/*
!reports/*.gitkeep
client/constants/dictionary.js
*.log
*.directory
!client/**/config.json
!client/_devpartner/*
coverage
**/node_modules
*.DS_Store
tmp/**/*
public/**/*
!public/_devpartner/**/*
!public/js/*.gitkeep
!public/css/*.gitkeep
!public/media/favicon.ico
.idea
