// https://medium.com/swlh/the-comprehensive-8pt-grid-guide-aa16ff402179
// https://www.gridlover.net/try

// Margins
$framework-sizebase = 8px

// Theme framework
:root
  --size-100 $framework-sizebase * 0.125 // 1px
  --size-200 $framework-sizebase * 0.25 // 2px
  --size-300 $framework-sizebase * 0.5  // 4px
  --size-400 $framework-sizebase        // 8px
  --size-500 $framework-sizebase * 2    // 16px
  --size-600 $framework-sizebase * 3    // 24px
  --size-700 $framework-sizebase * 4    // 32px 
  --size-800 $framework-sizebase * 5    // 48px
  --size-900 $framework-sizebase * 8    // 64px

$size-1x = var(--size-1x);


// Font size
// https://type-scale.com
// It use perfect Four scale (1.333) with 12px base size

$framework-scale = 1.333
$framework-fontsizebase = 1rem

// Theme framework
:root
  --fontsize-100 $framework-fontsizebase
  --fontsize-200 ceil($framework-fontsizebase * ($framework-scale ** 1), 3)
  --fontsize-300 ceil($framework-fontsizebase * ($framework-scale ** 2), 3)
  --fontsize-400 ceil($framework-fontsizebase * ($framework-scale ** 3), 3)
  --fontsize-500 ceil($framework-fontsizebase * ($framework-scale ** 4), 3)
  --fontsize-600 ceil($framework-fontsizebase * ($framework-scale ** 5), 3)
  --fontsize-700 ceil($framework-fontsizebase * ($framework-scale ** 6), 3)
  --fontsize-800 ceil($framework-fontsizebase * ($framework-scale ** 7), 3)
  --fontsize-900 ceil($framework-fontsizebase * ($framework-scale ** 8), 3)

// Stylus variables to usage based on CSS
$fontsize-100 = var(--fontsize-100);
$fontsize-200 = var(--fontsize-200);
$fontsize-300 = var(--fontsize-300);
$fontsize-400 = var(--fontsize-400);
$fontsize-500 = var(--fontsize-500);
$fontsize-600 = var(--fontsize-600);
$fontsize-700 = var(--fontsize-700);
$fontsize-800 = var(--fontsize-800);
$fontsize-900 = var(--fontsize-900);



// Color pallette
// @TODO: Create the pallete for a Customer color
// https://coolors.co/gradient-palette/000000-dfdfdf?number=9
:root
  --colorBlack-100 #dfdfdf
  --colorBlack-200 #c3c3c3
  --colorBlack-300 #a7a7a7
  --colorBlack-400 #8b8b8b
  --colorBlack-500 #707070
  --colorBlack-600 #545454
  --colorBlack-700 #383838
  --colorBlack-800 #1c1c1c
  --colorBlack-900 #000000
  
  $colorBlack-100 = var(--colorBlack-100);
  $colorBlack-200 = var(--colorBlack-200);
  $colorBlack-300 = var(--colorBlack-300);
  $colorBlack-400 = var(--colorBlack-400);
  $colorBlack-500 = var(--colorBlack-500);
  $colorBlack-600 = var(--colorBlack-600);
  $colorBlack-700 = var(--colorBlack-700);
  $colorBlack-800 = var(--colorBlack-800);
  $colorBlack-900 = var(--colorBlack-900);
