doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="Description" content="Put your description here.")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    include styles.pug
    title MeanivanJs!
  body
    .container-fluid
      .jumbotron.jumbotron-fluid
        .container
          h1.display-4 Title
          p.lead Lorem ipsum dolor sit amet, an mundi reprimique qui. Est velit vocibus sensibus ad, et vis wisi habeo. Aeque accusata constituam duo in, usu ridens admodum ex. Mei ei quod iriure, postea fabulas mel an.
      
      include example.pug

    include scripts.pug
