//- include mixin.header.section.pug
//- include mixin.ui.upload.pug

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    include styles.pug
  
  body
    main
      //- Main
      block content
  
  include scripts.pug