if isDevelopment

  script(src="https://js.stripe.com/v3/")
  script(type="text/javascript" src="https://unpkg.com/imagekit-javascript/dist/imagekit.min.js")
  
  script(type="module" src="/client/js/products.js")
  script(type="module" src="/client/js/form.js")
  script(type="module" src="/client/js/app.js")
  
  //- script(src="/client/js/order.js")
  //- script(src="/client/js/category.js")
  
  //- script(src="/client/js/lang.js")
  //- script(src="/client/js/images.js")

else
  
  //- link(rel="stylesheet" href="/public/css/app.min.css")
