/* ------------------- */
/* --- VARIABLES ----- */
/* ------------------- */
// https://medium.com/swlh/the-comprehensive-8pt-grid-guide-aa16ff402179
// https://www.gridlover.net/try

// Margins
$framework-sizebase = 8px

// Theme framework
:root
  // 8px grid based
  --size-100 $framework-sizebase * 0.125 // 1px
  --size-200 $framework-sizebase * 0.25 // 2px
  --size-300 $framework-sizebase * 0.5  // 4px
  --size-400 $framework-sizebase        // 8px
  --size-500 $framework-sizebase * 2    // 16px
  --size-600 $framework-sizebase * 3    // 24px
  --size-700 $framework-sizebase * 4    // 32px 
  --size-800 $framework-sizebase * 5    // 48px
  --size-900 $framework-sizebase * 8    // 64px

  // Font size
  // https://type-scale.com
  // It use perfect Four scale (1.333) with 12px base size
  $framework-scale = 1.333
  --fontsizebase 16px

  // Theme framework
  --fontsize-100 0.563rem
  --fontsize-200 0.75rem
  --fontsize-300 1rem
  --fontsize-400 1.333rem
  --fontsize-500 1.777rem
  --fontsize-600 2.369rem
  --fontsize-700 3.157rem
  --fontsize-800 4.209rem
  --fontsize-900 5.61rem

  // Color pallette
  // https://coolors.co/gradient-palette/000000-dfdfdf?number=9
  --colorBlack-100 #dfdfdf
  --colorBlack-200 #c3c3c3
  --colorBlack-300 #a7a7a7
  --colorBlack-400 #8b8b8b
  --colorBlack-500 #707070
  --colorBlack-600 #545454
  --colorBlack-700 #383838
  --colorBlack-800 #1c1c1c
  --colorBlack-900 #000000
  
  // Color pallette
  // https://coolors.co/palette/e3f2fd-bbdefb-90caf9-64b5f6-42a5f5-2196f3-1e88e5-1976d2-1565c0-0d47a1
  --colorBlue-000 #F0F8FF
  --colorBlue-100 #BBDEFB
  --colorBlue-200 #90CAF9
  --colorBlue-300 #64B5F6
  --colorBlue-400 #42A5F5
  --colorBlue-500 #2196F3
  --colorBlue-600 #1E88E5
  --colorBlue-700 #1976D2
  --colorBlue-800 #1565C0
  --colorBlue-900 #0D47A1
  
  // Z-index
  --zindex-search-modal 99999
  
$zIndexSearchModal = var(--zindex-search-modal);
  
$fontsize-100 = var(--fontsize-100);
$fontsize-200 = var(--fontsize-200);
$fontsize-300 = var(--fontsize-300);
$fontsize-400 = var(--fontsize-400);
$fontsize-500 = var(--fontsize-500);
$fontsize-600 = var(--fontsize-600);
$fontsize-700 = var(--fontsize-700);
$fontsize-800 = var(--fontsize-800);
$fontsize-900 = var(--fontsize-900);

$size-100 = var(--size-100);
$size-200 = var(--size-200);
$size-300 = var(--size-300);
$size-400 = var(--size-400);
$size-500 = var(--size-500);
$size-600 = var(--size-600);
$size-700 = var(--size-700);
$size-800 = var(--size-800);
$size-900 = var(--size-900);

$colorBlack-100 = var(--colorBlack-100);
$colorBlack-200 = var(--colorBlack-200);
$colorBlack-300 = var(--colorBlack-300);
$colorBlack-400 = var(--colorBlack-400);
$colorBlack-500 = var(--colorBlack-500);
$colorBlack-600 = var(--colorBlack-600);
$colorBlack-700 = var(--colorBlack-700);
$colorBlack-800 = var(--colorBlack-800);
$colorBlack-900 = var(--colorBlack-900);

$colorBlue-000 = var(--colorBlue-000);
$colorBlue-100 = var(--colorBlue-100);
$colorBlue-200 = var(--colorBlue-200);
$colorBlue-300 = var(--colorBlue-300);
$colorBlue-400 = var(--colorBlue-400);
$colorBlue-500 = var(--colorBlue-500);
$colorBlue-600 = var(--colorBlue-600);
$colorBlue-700 = var(--colorBlue-700);
$colorBlue-800 = var(--colorBlue-800);
$colorBlue-900 = var(--colorBlue-900);


// --red-error #bb3a40
// $red-error = var(--colorBlack-900)

/* ------------------- */
/* ------------------- */
/* ----- GENERAL ----- */
/* ------------------- */
/* ------------------- */
*
  box-sizing border-box
  font-family Helvetica Neue
  margin 0
  padding 0

html
  height 100%
  font-size var(--fontsizebase)

article
  width 100%
    
label
  display block
  margin-bottom 8px
  
a
  text-decoration none

hr
  border none
  border-top 2px solid #ccc
  
ul
  list-style none
  &.horizontal
    li
      display inline-block!important
      height 100%
  &.vertical
    flex-direction column
    height auto  

ul
li
  margin 0
  padding 0
  
img
picture
  width 100%
  max-width 100%
  height auto
  display block
  &.aspect-ratio
    width 100%
    height 100%
    object-fit contain

figure
  width auto!important
  max-width 100%!important
  figcaption
    font-size 85%
    margin-bottom 16px
    color #5f656c
    font-style italic

video
p
  width 100%

[onclick]
  cursor pointer


/* ------------------- */
/* ------------------- */
/* ------ BUTTON ----- */
/* ------------------- */
/* ------------------- */
a[href].btn
button
  cursor pointer
  padding 8px 16px
  text-decoration none
  border-radius 4px
  font-size 14px
  display inline-block
  border 0
  &.btn-primary
    color white
    background-color #008060
    padding 8px 32px
    &:hover
      background-color #006e52
  &.btn-link
    color #3483fa
    padding 0
    border 0
    background-color transparent
    cursor pointer
    &:hover
      color #1259c3
    &.active
      color #000
      pointer-events none
      cursor default
  &.btn-icon
    // line-height 0
    vertical-align text-bottom
    svg
      width 16px
      height 16px
      vertical-align middle
  &.btn-transparent
    background-color transparent
  &.btn-danger
    color #dc3545
    border 1px solid currentColor
    background-color #dc354533
  &.btn-full-w
  &.wide
    width 100%
  &[disabled="disabled"]
  &[disabled]
    cursor default
    pointer-events none
    opacity .5


/* ------------------- */
/* ------- GRID ------ */
/* ------------------- */
.row
  display flex
  gap 8px
.col
  flex 1
  flex-basis 100%
  
.grid
  display grid
  grid-template-columns repeat(2, 1fr)
  grid-template-rows 1fr
  
.grid
.row
  &.gap-8
    grid-column-gap 8px
    grid-row-gap 8px
  &.gap-16
    grid-column-gap 16px
    grid-row-gap 16px
  
@media screen and (min-width: 1024px)
  .row
    gap 16px
  .grid
    &.desktop-4-colums
      grid-template-columns repeat(4, 1fr)
    &.desktop-5-colums
      grid-template-columns repeat(5, 1fr)


/* ------------------- */
/* ------------------- */
/* ------ NAVBAR ----- */
/* ------------------- */
/* ------------------- */
nav
  &.navbar-top
    display flex
    height 48px
    &.opened
      .ul-menu
        translate 100%
    ul
      &.ul-logo
        flex 1
        text-align center
        a
          display: inline-block;
          height: 100%;
          width: fit-content;
        img
          width: auto;
          height: 100%;
      &.ul-menu
        flex 1
        position absolute
        left -100%
        translate 0
        top 48px
        width 100%
        height calc(100vh - 48px)
        background-color #000
        transition translate .1s linear .1s;
        li
          display block
          text-align left
          width 100%
          height auto
      button
      a.btn
        line-height 32px
        height 100%
    

@media screen and (min-width: 1024px)
  nav
    &.navbar-top
      padding 0 16px
      button
        height 100%
      ul
        &.ul-burger
          display none
        &.ul-logo
          flex initial
          text-align left
        &.ul-menu
          position initial
          height 100%
          li
            width fit-content
            height 100%


/* ------------------- */
/* ------------------- */
/* ------ TABLE ------ */
/* ------------------- */
/* ------------------- */
table
  width 100%
  border-collapse collapse
  thead
    tr
      font-weight bold
      background-color var(--colorBlack-200)
  td
    &.width-content
    &.fit-content
      width fit-content
    &.width-20
      width 20%
    &.width-30
      width 30%
    &.width-40
      width 40%

  &.bordered
    td
      border 1px solid
      padding 4px 8px
  &.zebra
    tbody
      tr
        &:nth-child(odd)
          background-color var(--colorBlue-100)


/* ------------------- */
/* ------ FORM ------ */
/* ------------------- */
input
  &[type="text"]
  &[type="number"]
  &[type="email"]
  &[type="url"]
    padding 8px
    border-radius 4px
    border 1px solid #ccc
    width 100%
    display block
    font-size 1rem
    margin 0
    outline none
    -webkit-appearance none

  &:focus
    border-color #2773d9
  &[disabled="disabled"]
    border 0
    padding 0
  &[readonly]
    background-color #cccccc66


label 
  &.has-error
    input
      &:invalid
        border 1px solid #dc3545
    
    p
      &.error-message
        display block
      
      &.hint
        display none
    
    .input-group
        &.space-between
            display flex
            justify-content space-between

label
    display block

  &[for]
    display inline-block
    margin-left 16px
    vertical-align middle
  
  &.required
    &:before
      content '*'
      margin-right 4px
      color #dc3545

.input-group
    margin-bottom 16px

.textarea
  white-space: break-spaces;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 4px;
  width 100%
  outline none

.hint
.block-hint
.error-message
    margin 0
    font-size 12px
    line-height 16px
    font-style italic
    color #666
    display block
    
.block-hint
  margin-bottom 16px
    
.error-message
  color #dc3545
  display none


/* ------------------- */
/* ------ SWITCH ------ */
/* ------------------- */
// https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_switch
.switch
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  input 
    opacity: 0;
    width: 0;
    height: 0;
    &:checked + .slider
      background-color #2196F3
    &:focus + .slider
      box-shadow: 0 0 1px #2196F3
    &:checked + .slider:before
      transform translateX(26px)

.slider
  position absolute
  cursor pointer
  top 0
  left 0
  right 0
  bottom 0
  background-color #ccc
  -webkit-transition .2s
  transition .2s
  &:before
    position absolute
    content ""
    height 26px
    width 26px
    left 4px
    bottom 4px
    background-color white
    transition .2s
  /* Rounded sliders */
  &.round
    border-radius 34px
    &:before
      border-radius 50%




/* ------------------- */
/* ---- CHECKBOX ----- */
/* ------------------- */
$uncheckedColor = #eee
$uncheckedHoverColor = #ccc
$bg-red-unchecked-color = #ae2012
$bg-blue-unchecked-color = #3a86ff
$bg-green-unchecked-color = #38b000
$bg-purple-unchecked-color = #5a189a
$bg-black-unchecked-color = #000

/* The container */
.checkbox-wrapper
  display inline
  position relative
  padding-left 28px
  margin-right 0
  cursor pointer
  user-select none
  &.disabled
    cursor default
    opacity .5
  /* Hide the browser's default checkbox */
  input
    position absolute
    opacity 0
    cursor pointer
    height 0
    width 0


.checkmark
  /* Create a custom checkbox */
  position absolute
  top 0
  left 0
  height 20px
  width 20px
  background-color $uncheckedColor
  &.bg-red
    background-color $bg-red-unchecked-color
  &.bg-blue
    background-color $bg-blue-unchecked-color
  &.bg-green
    background-color $bg-green-unchecked-color
  &.bg-purple
    background-color $bg-purple-unchecked-color
  &.bg-black
    background-color $bg-black-unchecked-color

  /* Create the checkmark/indicator (hidden when not checked) */
  &:after
    content: "";
    position: absolute;
    display: none;

/* Show the checkmark when checked */
.checkbox-wrapper input:checked ~ .checkmark:after
  display: block;

/* Style the checkmark/indicator */
.checkbox-wrapper .checkmark:after
  left 7px
  top 3px
  width 3px
  height 8px
  border solid white
  border-width 0 3px 3px 0
  transform rotate(45deg)



/* ------------------- */
/* ----- UPLOADS ----- */
/* ------------------- */
// .upload-container
//   margin-bottom 16px
//   display flex
//   flex-wrap wrap
//   column-gap 16px
  
//   .overlay
//     width 100%
//     height 100%
//     position absolute
//     display flex
//     cursor pointer
//     justify-content center
//     align-items center
//     &.overlay-loading
//       fill #666
//     &.overlay-delete
//       opacity 0
//       background-color #FFFFFF00
//       &:hover
//         opacity 1
//         color red
//         background-color #FFFFFF99
//     i
//       display inline-block
//       opacity 1
//       width 16px
  
//   .img-wrapper
//     flex 0
//     position relative
//     flex-basis 90px
//   .text-wrapper
//     flex 1
//   p
//     margin-bottom 2px
//   label
//     margin-bottom 4px
//   img
//     width 80px
//     height 80px
//     border-radius 4px
//     display block
//   input[type="text"]
//     display none
//   input[type="file"]
//     position absolute
//     display none
  
// .drop-area
//   width 80px
//   height 80px
//   background-color #dedede
//   border 2px solid #999
//   padding 16px
//   border-radius 4px
//   margin-right 16px
//   cursor pointer

/* ------------------- */
/* ----- helpers ----- */
/* ------------------- */
  
.hidden
.d-none
  display none
  display none!important

.text-right
  text-align right

.text-center
  text-align center

.d-block
  display block!important

.d-flex
  display flex!important

.d-inline
  display inline!important
  
.style-type-none
  list-style-type none
  
.float-right
  float right


body
  &.framework-no-scroll
    margin 0
    height 100%
    overflow hidden

@media only screen and (min-width: 1024px)
  .desktop-w-80
    width 80%
    margin 0 auto